{% extends 'base.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block body %}
    <h2>Thanks!</h2>
    <h4>Let's make it happen - we will contact you as soon as possible!</h4>
    <h3>
        View More:
        <a href="http://www.github.com/GregGallant">GitHub</a> |
        <a href="http://www.linkedin.com/in/greggallant">Linked-In</a> |
        <a href="/docs/GGResume2019_v2.pdf">Resume</a>
    </h3>
{% endblock %}
{% block bodyrock %}
    <div style="margin:90px 0 90px 0;">&nbsp;</div>
{% endblock %}
