{% extends "base.html.twig" %}
{% block title %}Docs and stuff{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
        <h1>Quickie Documentation.</h1>
        <p><strong>Symfony Docs: Get a job, hippie</strong></p>
        <p> 
            <strong>Controller structuring tests for Symfony</strong>
            <p> Test Yaml vs. Annotated Routes </p>
            Setup: <a href="https://symfony.com/doc/current/components/routing.html">https://symfony.com/doc/current/components/routing.html</a>
        </p>
        <strong>Form structuring</strong>
        <p> Templating and Twig Setup first </p>
        Templating: <a href="https://symfony.com/doc/current/templating.html">https://symfony.com/doc/current/templating.html</a>
        <br/>
        Doctrine ORM: <a href="https://symfony.com/doc/current/doctrine.html">Doctrine</a>
        <br/>
        Forms: <a href="https://symfony.com/doc/current/forms.html">Forms</a> 
        <div>With Logger</div>
        <ul>
            <li><a href="https://twig.symfony.com/doc/2.x/intro.html">Twig Docs</a></li>
            <li><a href="https://symfony.com/doc/current/frontend.html">FrontEnd Libs</a></li>
            <li><a href="https://symfony.com/doc/current/templating.html">Templating</a></li>
            <li><a href="https://symfony.com/doc/current/frontend/encore/dev-server.html">Encore Dev Server</a></li>
            <li><a href="https://symfony.com/doc/current/frontend/encore/simple-example.html">Encore Dev Server</a></li>
            <li><a href="https://github.com/symfony/webpack-encore/blob/master/index.js">Webpack-encore github docs</a></li>
            <li><a href="https://symfony.com/doc/current/frontend/encore/vuejs.html">VueJS Encore</a></li>
        </ul>
{% endblock %}
