{% extends 'base.html.twig' %}

{% block title %}Ooops... hmm...{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">404 Not found</h1>
{% endblock %}
{% block bodyrock %}
    <h2 class="h3 mb-3 font-weight-normal" style="padding:44px 0 44px 0; text-align:center;">Way to go. <br/> Find yourself, won't you? </h2>
{% endblock %}
