{% extends 'base.html.twig' %}

{% block title %}Ooops... hmm...{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Strange...</h1>
{% endblock %}
{% block bodyrock %}
    <h2 class="h3 mb-3 font-weight-normal" style="padding:44px 0 44px 0; text-align:center;">Strange indeed. <br/> </h2>
{% endblock %}
