{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="goregister">

    <h2>Thanks!</h2>
    <h3>You may now <a href="/login">login</a> to Gallantone.com.</h3>
</form>
{% endblock %}
{% block bodyrock %}
    <div>&nbsp;</div>
{% endblock %}
