<footer th:fragment="footerFragment" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="row no-gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 footer">&nbsp;
            <div class="foot_place_1">
                &nbsp;<img src="/images/gmedia_logo_w.png" border="0" />
                <div>
                    <ul class="mini_footy">
                        <li><a target="github" href="http://www.github.com/GregGallant">GitHub</a></li>
                        <li><a target="linkedin" href="http://www.linkedin.com/in/greggallant">Linked-In</a></li>
                        <li><a target="software" href="http://qa.gallantone.com">Software</a></li>
                    </ul>
                </div>
            </div>
            <div class="foot_addr">
                <div class="fhead">Programming, Design & Photography</div>
                <div class="fname">Greg Gallant </div>
                <div class="femail">ggallant2017@gmail.com </div>
                <div class="femail">Powered by: <a style="font-family:Arial,Helvetica,sans-serif; color:#ffff4f;" href="https://spring.io">Spring Boot 2.1.2</a> </div>
            </div>
        </div>
    </div>
</footer>
<!-- Main -->
<script type="text/javascript" src="/js/contact.js"></script>
