html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 0.9em; }

html h1, body h1 {
  font-family: Arvil,sans-serif;
  font-size: 6.2em;
  font-weight: normal;
  letter-spacing: .08em;
  /*color: #ffffbb;*/
  color: #306063;
  margin: 0 0 10px 0; }

html h3, body h3 {
  font-family: Arvil,sans-serif;
  font-size: 2.85em;
  font-weight: normal;
  letter-spacing: .084em;
  color: #08907e;
  margin: 0 0 0 0; }

html h6, body h6 {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .85em;
  font-weight: normal;
  letter-spacing: .08em;
  line-height: 20px;
  color: #d8bb9e; }

div {
  margin: 0 0 0 0; }
  div .validation {
    font-size: .8em;
    color: #ff3c33;
    text-align: right;
    width: 100%;
    font-family: Tahoma, Arial, sans-serif;
    height: 10px; }

.form_error {
  font-size: 8pt;
  color: #ff6c30; }

#fixed_header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("../images/semitr.png");
  border-bottom: 1px solid #7c8f7c;
  width: 100%;
  height: 70px;
  z-index: 20; }

#fixed_logo {
  display: inline-block;
  z-index: 100;
  margin-top: 25px;
  text-align: left; }

.fixed_menu {
  text-align: right;
  margin-top: 25px;
  z-index: 100;
  display: inline-block;
  font-size: 1.1em;
  font-family: Arial, sans-serif; }
  .fixed_menu a {
    font-weight: bold;
    text-decoration: none;
    color: #013933; }
  .fixed_menu a:hover {
    color: #011936; }
  .fixed_menu a:visited {
    color: #012933; }

/* plax divs */
#ggscreen1 {
  height: 100%;
  padding: 0;
  color: #ffffff;
  z-index: 0;
  margin: auto;
  overflow: hidden; }

#ggscreen2 {
  background-image: url("../images/gg_sunset.png");
  height: 100%;
  color: #ffffff;
  z-index: 0;
  margin: auto auto 35px auto;
  overflow: hidden; }

#ggscreen3 {
  height: 150%;
  padding: 0;
  color: #ffffff;
  z-index: 0;
  margin: auto;
  overflow: hidden; }

#cc_image {
  max-width: 100%;
  max-height: 100%; }

#cc_image_holder {
  background-size: 100% 100%;
  width: 100%;
  height: 100%; }

.cc_text {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 120px;
  text-align: right; }

.cc_text h3 {
  color: #f0c020;
  margin-top: 20px;
  margin-bottom: 20px; }

.skills_header {
  text-align: left;
  font-family: Comfortaa, Tahoma, Arial, sans-serif;
  font-size: 2.0em;
  color: #c4f3f0;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #333f33; }

.skills {
  text-align: left;
  font-family: Comfortaa, Tahoma, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #f0f4f0;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px; }

.skills_left {
  float: left; }

.skills_right {
  float: right; }

#jirapara {
  text-align: center;
  font-family: Comfortaa, Tahoma, Arial, sans-serif;
  color: #303030; }

.br2nd {
  height: 1px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.br_cc {
  height: 1px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.workboxes {
  margin-top: -20px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#workbox1 {
  display: inline-block;
  width: 250px;
  height: 169px;
  border: 1px solid #939393;
  background-color: #cccccc;
  margin-left: 45px;
  margin-right: 45px; }

#workbox2 {
  display: inline-block;
  width: 250px;
  height: 169px;
  border: 1px solid #939393;
  background-color: #cccccc;
  margin-left: 45px;
  margin-right: 45px; }

#workbox3 {
  display: inline-block;
  width: 160px;
  height: 120px;
  border: 1px solid #939393;
  background-color: #cccccc;
  margin-left: 45px;
  margin-right: 45px; }

/* Forms */
label.control-label {
  text-align: left;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  color: #335333;
  letter-spacing: .1em;
  display: block; }

label#email_label.control-label {
  display: block; }

#email-group .has-warning {
  color: #ff5333; }

#email {
  width: 100%; }

.formgroup .inlabel .label {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  color: #f3e3a3; }

.inlabel {
  display: inline-block;
  width: 40%;
  text-align: left;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.1em;
  color: #434343;
  letter-spacing: .09em;
  padding-right: 10px; }

.cform {
  display: inline-block; }

.formgroup {
  padding: 5px 0 5px 0;
  margin-bottom: 20px; }

.formsubmit {
  text-align: right;
  margin-top: 10px;
  width: 50%; }

/* Form Styles */
input.formy {
  display: block;
  height: 54px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  font-size: 1.35em; }

.form-control {
  width: 90%; }

.textformy {
  min-width: 100%;
  padding: 15px;
  border-radius: 6px;
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  font-size: 1.35em;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); }

.btn-primary {
  padding: 8px;
  width: 140px;
  height: 60px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #379e5f !important; }
  .btn-primary span {
    font-weight: 500;
    font-size: 1.35em;
    background-color: #379e5f; }

/* global fonts */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: Arvil;
  src: url("../fonts/Arvil/Arvil_Sans.eot"); }
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: Arvil;
  src: url("../fonts/Arvil/Arvil_Sans.ttf") format("opentype"); }
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: Lowvetica;
  src: url("../fonts/Lowvetica/Lowvetica.eot"); }
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: Lowvetica;
  src: url("../fonts/Lowvetica/Lowvetica.ttf") format("opentype"); }
#center_image {
  z-index: -999;
  min-height: 100%;
  min-width: 440px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto; }

#textHeader {
  margin-top: 100px;
  padding: 70px 70px 50px 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-family: Arvil, Arial, sans-serif; }

#textContent {
  min-width: 100%;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #222232;
  letter-spacing: .05em;
  line-height: 1.8em;
  display: block; }

#textContent2 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: 1.8em;
  color: #000000; }

.narrows {
  width: 69%;
  margin: 0 auto 0 auto; }

#contactFormGroup {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: 1.8em;
  color: #000000; }
  #contactFormGroup h1 {
    font-size: 3.5em;
    color: #33333f;
    padding-top: 35px;
    padding-bottom: 10px; }
  #contactFormGroup h3 {
    color: #1f1f3f;
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: 1.4em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em; }
    #contactFormGroup h3 div {
      color: #379e5f;
      margin: 10px 0 10px 0;
      font-size: .9em;
      line-height: 1.3em; }

.textline {
  font-size: 1.1em;
  border-bottom: 1px solid #304030;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.hr {
  height: 1px;
  width: 50%;
  background-color: #cffcc9;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.br {
  height: 1px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.icon_left {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #939393;
  width: 85px;
  height: 85px;
  border: 1px solid #939393; }

.subheader02 {
  font-family: Lowvetica, Helvetica, Arial, sans-serif;
  font-size: 2.3em;
  color: #E4DACF;
  font-weight: 100;
  letter-spacing: .1em;
  margin: 24px 10px 24px 5px;
  padding: 14px 0 0 0; }

.icon_vert {
  display: inline-block;
  border-bottom: 1px solid #939393;
  width: auto;
  height: auto;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 40px; }
  .icon_vert p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    color: #ffffff;
    line-height: 2.1em; }
  .icon_vert img {
    margin: 0 15px 15px 0; }

.icon_vert_2 {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 40px; }
  .icon_vert_2 p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    color: #ffffff;
    line-height: 2.1em; }
  .icon_vert_2 img {
    margin: 0 15px 15px 0; }

.text_vert {
  display: block;
  float: left;
  font-size: .9em;
  font-family: Helvetica, Arial,sans-serif; }

.subheader01 {
  display: block;
  font-family: Lowvetica, Helvetica, sans-serif;
  font-size: 1.1em;
  background-color: #258EA6;
  color: #fff;
  padding: 10px 10px 7px 15px;
  margin: 0 0 10px 0; }

.whatsnew {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em;
  color: #011936; }
  .whatsnew div.newstuff {
    display: inline-block;
    margin: 5px 0 0 0; }
    .whatsnew div.newstuff span.hed {
      display: inline-block;
      font-weight: 500;
      font-size: 1.4em; }
    .whatsnew div.newstuff img {
      display: inline-block; }
    .whatsnew div.newstuff em {
      display: block;
      text-align: right;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 10px; }
    .whatsnew div.newstuff div.stuffstuff {
      display: block;
      margin: 5px 0 0 0;
      font-size: 1.1em; }

.linkage {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: oblique;
  font-weight: 100;
  color: #303030; }
  .linkage a {
    color: #1A936F; }
  .linkage a:hover {
    color: #011936; }
  .linkage div {
    vertical-align: top;
    margin: 0 0 0 0;
    color: #011936;
    width: 100%; }

.whatsnewimage {
  display: inline-block;
  font-size: .9em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  -moz-box-shadow: 3px 3px 4px #333;
  -webkit-box-shadow: 3px 3px 4px #333;
  box-shadow: 3px 3px 4px #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
  border: 1px solid #258EA6;
  margin: 0 14px 14px 0; }

footer {
  text-align: center;
  background-color: #999999;
  color: #e3e3ee;
  font-size: .8em;
  font-family: Arial,sans-serif; }

/*# sourceMappingURL=gallantone.css.map */
