<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/css/gm.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <title>GallantOne Login</title>
</head>
<body>
<noscript>No JS loaded.</noscript>
<header id="fixed_header">
    <div class="row no-gutter superhead">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 logohead"><img class="img-fluid" src="/images/gone_logo.png" border="0"/></div>
        <div class="col-lg-9 col-md-7 col-sm-7 col-xs-7 menuhead">
            <ul class="nav">
                <li>Home</li>
                <li>Login</li>
                <li>Sign Up</li>
                <li><a href="http://news.gallantone.com">News</a><span class="beta">-Beta</span></li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 burgerhead dropdown">
            <button class="btn dropdown-toggle" type="button" id="burgertime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid theburger" src="/images/goodburger50.png" border="0"/></button>
            <div class="dropdown-menu">
                <ul id="burgermenu" aria-labelledby="burgertime">
                    <li class="dropdown-item">Home</li>
                    <li class="dropdown-item">Login</li>
                    <li class="dropdown-item">Sign Up</li>
                    <li class="dropdown-item"><a href="http://news.gallantone.com">News</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <div class="headerSpace">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 hed">
                    <h1>Login</h1>
                    <div class="subhed">
                    <form th:action="@{/login}" method="post">
                        <input class="form-control formy" type="text" name="email" placeholder="Email"/>
                        <input class="form-control formy" type="password" name="password" placeholder="Password"/>
                        <input id="loginButton" class="loginSubmit btn btn-large" type="submit" value="Login"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username and password.
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row no-gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 footer">&nbsp;
            <div class="foot_place_1">
                &nbsp;<img src="/images/gmedia_logo_w.png" border="0" />
                <div>
                    <ul class="mini_footy">
                        <li><a href="http://news.gallantone.com">News</a></li>
                        <li><a target="github" href="http://www.github.com/GregGallant">GitHub</a></li>
                        <li><a target="linkedin" href="http://www.linkedin.com/in/greggallant">Linked-In</a></li>
                        <li><a target="software" href="http://qa.gallantone.com">Software</a></li>
                    </ul>
                </div>
            </div>
            <div class="foot_addr" id="secc">
                <div class="fhead">Programming, Design & Photography</div>
                <div class="fname">Greg Gallant </div>
                <div class="femail">ggallant2017@gmail.com </div>
                <div class="femail">Powered by: <a class="poweredby" href="https://spring.io">Spring Boot 2.1.2</a> </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
