<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/newsheader" :: headerFragment></head>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 hed">
            <br/>
            <br/>
            <br/>
            <div style="background-color:#ffffff; color:#111111; float:left; width:20%;">
                <div th:each="article : ${listOfArticles}" style="border:1px solid #333333; padding:10px;">
                    <div th:text="${article.newstitle}"></div>
                    <div th:text="${article.newspublished}"></div>
                    <div th:text="${article.newsauthor}"></div>
                    <div th:text="${article.newsurl}"></div>
                    <div th:text="${article.newstext}"></div>
                    <div th:text="${article.newsimage}"></div>
                </div>
            </div>
            <div id="newsUS" style="float:right; width:79%;">&nbsp;</div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer" :: footerFragment></footer>
</body>
</html>
